{% extends 'base.html'%}

{% block title %}friends{% endblock  %}

{% block content %}

<table class="table table-success table-striped">
  <thead>
    <tr>

        <th scope="col">Name</th>
        <th scope="col">Surname</th>
        <th scope="col">Age</th>
        <th scope="col">City</th>
        <th scope="col">Sex</th>
        <th scope="col">Email</th>
        <th scope="col">Hobbies</th>
        <th scope="col">Rating</th>

    </tr>
  </thead>
  <tbody>
        {% for friend in page_obj %}
    <tr>
        <td>{{ friend.name }}</td>
        <td>{{ friend.surname }}</td>
        <td>{{ friend.age }}</td>
        <td>{{ friend.city }}</td>
        <td>{{ friend.sex }}</td>
        {% if friend.email %}
            <td>{{ friend.email }}</td>
        {% else %}
            <td></td>
        {% endif %}
        <td>
        {% for hobby in friend.hobbies_set.all %}
            {{ hobby }}
        {% endfor %}
        </td>
        <td>
        {% for rating in friend.userrating_set.all %}
            {{ rating }}
        {% endfor %}
        </td>
    </tr>
        {% endfor %}


  </tbody>
</table>

<nav aria-label="...">
  <ul class="pagination">
    <li class="page-item disabled">
      <a class="page-link">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item active" aria-current="page">
      <a class="page-link" href="#">2</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>

<div class="pagination">
    <span class="step-links">
         <ul class="pagination">
        {% if page_obj.has_previous %}
            <li class="page-item">
            <a href="?page=1"> first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last </a>
        {% endif %}

    </span>
</div>


{% endblock %}