{% extends 'base.html'%}

{% block title %}main page{% endblock  %}

{% block content %}



<p>Friender is a great site for dating and looking for romantic relationships.
    Looking for love online has long been no surprise.
    Thousands of people managed to find a mate through dating sites in Belarus and build romantic relationships or start a family.
    If you also decided to look for your love on the net, all that is required of you is registration on our website, posting photos and profiles.
    Our resource contains a huge number of profiles, among which there is sure to be the one you are looking for.
    A dating site in Belarus is a favorable platform to start a conversation.
    Here you do not need to appeal to willpower to approach a person on the street and get to know each other.
    Online correspondence is easy and relaxed.
    When people get to know each other a little and find common interests and points of contact, you can move on to real meetings.

    Friender — отличный сайт для знакомств и поиска романтических отношений.
    Поиском любви онлайн уже давно никого не удивишь.
    Тысячи людей успели найти себе пару через сайты знакомств в Беларуси и построить романтические отношения или завести семью.
    Если вы тоже решились искать свою любовь в сети, все, что от вас требуется, – регистрация на нашем сайте, размещение фото и анкеты.
    Наш ресурс содержит огромное количество профилей, среди которых наверняка найдется тот, кого вы ищете.
    Сайт для знакомства в Беларуси – благоприятная платформа для начала беседы.
    Здесь не нужно взывать к силе воли, чтобы подойти к человеку на улице и познакомиться.
    Онлайн-переписка проходит легко и непринужденно.
    Когда люди немного узнают друг друга и отыщут общие интересы и точки соприкосновения, можно переходить к реальным встречам.</p>


{% endblock %}